body {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
    display: flex;
    flex: initial;
    height: 72px;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

.logo {
    font-size: 24px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero {
    display: flex;
    flex-grow: 1;
    background-color: #1f2937;
    padding: 100px 150px;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
}

.hero-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.hero h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0px;
}

.hero p {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0px;
}

.hero button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 12px;
    padding: 8px 40px;
    border: none;
}

.hero img {
    width: 900px;
    height: 250px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 150px 150px;
}

.info-block {
    display: flex;
    flex: 1;
    gap: 72px;
    justify-content: center;
    margin-top: 36px;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 0 0 0;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 150px;
}

.info-card p {
    text-align: center;
    color: #1f2937;
}

.info-img {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 14px;
    border-width: 4px;
}

.quote-block {
    display: flex;
    background-color: #e5e7eb;
    padding: 150px 250px;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    margin-bottom: 0;
}

.speaker {
    text-align: end;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    color: #1f2937;
}

.cta-outer {
    display: flex;
}

.cta-inner {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    padding: 50px 100px;
    gap: 16px;
    border-radius: 12px;
    margin: 100px 150px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

.cta-text h3 {
    margin: 0;
    color: #e5e7eb;
    font-size: 24px;
    font-weight: 500;
}

.cta-text p {
    margin: 0;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
}

.cta-inner button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 12px;
    padding: 8px 40px;
    border: solid;
    border-color: #f9faf8;
}


.footer {
    display: flex;
}